# GCS (Stage 1) (Direct JSON Content of the file)
GCS_SERVICE_ACCOUNT_JSON=
GCS_BUCKET_NAME=
GCS_BUCKET_PREFIX=

ELEVENLABS_API_KEY=

BHASHINI_API_KEY=

REDIS_URL=

# App
CLIENT_CORS_ORIGIN_URL=
CLERK_SECRET_KEY=

# Frontend (Stage 4)
VITE_API_SERVER_URL=
VITE_CLERK_PUBLISHABLE_KEY=

CLERK_JWKS_PUBLIC_KEY=""